<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span>Welcome</span>
  <div class="spacer"></div>
  <span style="padding-right: 20px">
    DEV-test-project
  </span>
</div>

<div class="content" role="main">
  <div class="card highlight-card card-small">
    <span>{{ title }} app is running!</span>
  </div>

  <button class="highlight-card" (click)="getProducts()"> Click me</button>

  <div class="card-container" *ngFor="let product of products">
    <div style="max-width: 400px">
      <h1>{{ product?.title }}</h1>
      <h2>Id: {{ product.id }}</h2>
      <h3>Created: {{ product.created_at | date }}</h3>
      <h4>Status: {{ product.status }}</h4>
      <img style="max-width: 200px" src="{{ product.images[0].src }}" alt="{{ product.title }}">
      <p>Price: {{ product.variants[0].price }} $</p>
      <p>Compare at price: {{ product.variants[0]?.compare_at_price }} $</p>
      <ng-container *ngIf="product.body_html">
        <h6>Description:</h6>
        <div [innerHTML]="getSafeHtml(product.body_html)"></div>
      </ng-container>
    </div>
  </div>


</div>


<router-outlet></router-outlet>
